<div class="col-lg-12 square">
 <h1>Listing profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.name %></td>
    <td><%= profile.bio %></td>
    <td><%= link_to 'Show', profile %></td>
  <% if can? :manage, profile %>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br /> 
</div>


