<div class="col-lg-12 square">

<p id="notice"><%= notice %></p>
	<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> 
<% end %>
|
<%= link_to 'Back', profiles_path %>

</div>


