
<%


def image
	text_box = ['glyphicon glyphicon-info-sign glyphicon-lg', 'glyphicon glyphicon-music glyphicon-lg', 'glyphicon glyphicon-warning-sign glyphicon-lg']
	text_box = text_box.shuffle
	return text_box[0]
end

def bloquote
	bloquote_text = ['blockquote-danger', 'blockquote-warning', 'blockquote-success', 'blockquote-primary']
	bloquote_text = bloquote_text.shuffle
	return bloquote_text[0]
end
%>


    <div class="row">
    	<div class="col-lg-8 col-md-offset-2 square">
    		
    	
        <h1>Upcoming Skating Events</h1>

       <% @events.each do |event| %>
        <div class="col-md-12 skate">
            <div class="blockquote-box <%= bloquote %>">
                <div class="square pull-left skate">
                   <span class="<%= image %>"></span>
                </div>
                <h3><%= link_to event.title, controller: '/home' , action: 'show' , id: event.id %></h3>
                   
                <p>
                    <%= raw event.description %>
                </p>
                <strong><%= time_ago_in_words event.event_day %> left</strong>
            </div>
            <hr>
        </div>
       <% end%>
<%= paginate @events %>
    </div>
</div>

