<!-- I don't want this code to be show in every view so I put it here -->
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>


<div class="row ">
  <div class="col-lg-12 square">
    
<p id="notice"><%= notice %></p>

<p>
  <b>Suburbs:</b>
  <%= @location.suburbs %>
</p>

<p>
  <b>Parkname:</b>
  <%= @location.parkname %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<% if can? :manage, @location %>
<%= link_to 'Edit', edit_location_path(@location) %> 
<% end %>
|
<%= link_to 'Back', locations_path %>
    
  </div>
</div>



<div class="row square">
  <div class="col-lg-12">
    <div style='width: 800px;' class="square">
  <div id="map" style='width: 800px; height: 400px;'>
  </div>
</div>


<%#=raw @hash.to_json %>



<script type="text/javascript">

  handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([{"lat":-27.58112,"lng":153.01048,"infowindow":"Achievement Crescent, Acacia Ridge"},{"lat":-27.58132,"lng":153.01048,"infowindow":"Achievement Crescent, Acacia Ridge"},{"lat":-27.58136,"lng":153.01143,"infowindow":"Achievement Crescent, Acacia Ridge"}] );
  console.log(markers);

  handler.bounds.extendWith(markers);
  //customization
  handler.map.centerOn([<%= @location.latitude %>, <%= @location.longitude %>]);
  handler.fitMapToBounds()
  handler.getMap().setZoom(16);
});

</script>